<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dialogs</title>
</head>
<body>
<div>
    <h3> Current dialogs</h3>
    <table>
        <thead>
        <tr>
            <th> ID User </th>
            <th> First Name </th>
            <th> Last Name </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <a th:href="@{/dialog(id=${user.id})}">
            <td><span th:text="${user.id}"> ID User </span></td>
            <td><span th:text="${user.firstName}"> First Name </span></td>
            <td><span th:text="${user.lastName}"> Last Name </span></td>
            </a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>