<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dialogs</title>
</head>
<body>
<div>
    <h3> Current dialogs</h3>
    <table>
        <thead>
        <tr>
            Dialogs
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th class="row" th:onclick="'window.location=\''+@{../dialog(friendId=${user.id})}+'\''">
                <span th:text="${user.id + ' '+user.firstName+' '+user.lastName}"> dialog</span></th>
            <td>
                <button onclick="deleteDialog(this.value)" th:value="${user.id}"> Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<style>
    .row:hover {
        background-color: aquamarine;
        cursor: pointer;
    }
</style>
<script language="JavaScript" type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function deleteDialog(value) {
        event.preventDefault();
        $.ajax({
                url: "/deleteDialog",
                type: "GET",
                data: {friendId: value},
                success: function success() {
                    window.location.reload(true);
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            }
        )
    }
</script>
</html>