<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<header>Header</header>
<body>
<h1>Welcome!</h1>
<form id="registration-form">
    <p>FirstName <input name="firstName"> </p>
    <p>LastName <input name="lastName"></p>
    <p>Phone <input name="phone"></p>
    <p>Country <input name="country"> </p>
    <p>City <input name="city"></p>
    <p>Age <input type="number" min="1" max="100" step="1" name="age"></p>
    <p>Status <input name="relationshipStatus"></p>
    <p> Religion <input name="religion"></p>
    <p> School <input name="school"></p>
    <p> University <input name="university"></p>
    <p>  <input type="submit" value="registration"></p>
</form>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
        crossorigin="anonymous"></script>
<script>
    $("#registration-form").submit(function(e){
        url:'user-registration',
        type:"post",
        data:("#registration-form").serialize(),
        success: function(data){
            alert('User was registered!')
        },
        error:function(xhr){
        }

    }

</script>
</html>