<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container-flex">
    <div class="row justify-content-md-center">
<form class="form-group col-xl-3" id="login-form">
    <div class="form-group">
    <label for="phone">Phone</label>
     <input class="form-control" id="phone" name="phone" required>
    </div>
    <div class="form-group">
    <label for="password">Password</label>
     <input class="form-control" id="password" name="password" required>
    </div>
    <input class="btn btn-primary btn-block" type="submit" value="login">
</form>
    </div>
</div>

</body>
<script language="JavaScript" type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $("#login-form").submit(function () {
        event.preventDefault();
        $.ajax({
                url: "login",
                type: "POST",
                data: $('#login-form').serialize(),
                success: function success(id) {
                    window.open('../user/' + id, '_self');
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            }
        )
    })

</script>
</html>