<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>
        <div>
            <button >Send message</button>
        </div>
    </div>

    <div class="right">
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.city}"></p>
    </div>

    <div>
        <h3> Income request</h3>
        <table>
            <thead>
            <tr>
                <th> ID User </th>
                <th> Request </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${inRequests}">
                <td><span th:text="${request.idUserFrom}"> ID User </span></td>
                <td><span th:text="${request.relates}"> Request </span></td>
                <td><button class="status" value="FRIEND" >accept</button></td>
                <td><button class="status" value="REQUESTDECLINE" >decline</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3> Outcome request</h3>
        <table>
            <thead>
            <tr>
                <th> ID User </th>
                <th> Request </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${outRequests}">
                <td><span th:text="${request.idUserFrom}"> ID User </span></td>
                <td><span th:text="${request.relates}"> Request </span></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <h2>Make a post</h2>
    <form id="post-form">
        <input type="hidden" id="hiddenUrl" name="url" data-name="url" value="">
        <textarea rows="5" cols="40" name="post"></textarea>
        <p>  <input type="submit" value="registration"></p>
    </form>
</div>
</body>
<style>
    .left{
        float:left;
        width: 200px;
        height: 300px;
        border-style: solid;
        border-width: 1px;
    }
    .right{
        margin-left: 380px;
    }
    .btn{
        margin-top: 220px;
    }
</style>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script language="JavaScript" type="text/javascript">
    document.getElementById('hiddenUrl').value = location.pathname;
    $("#post-form").submit(function(){
        event.preventDefault();
        $.ajax({
            url:"addPost",
            type:"POST",
            data:$('#login-form').serialize(),
            success: function success (){
                alert('You add a post!');},
            error:function error (xhr){
                alert(xhr.responseText);
            }
        });
    });
</script>
</html>