<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>
        <div>
            <button >Send message</button>
        </div>
    </div>

    <div class="right">
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.city}"></p>
    </div>
    <div class="right" id="relationship-status">
        <p th:text="${relationship?.relates}"></p>
    </div>
    <div>
        <button class="status" value="REQUESTSEND" >addFriend</button>
    </div>
</div>

</body>
<style>
    .left{
        float:left;
        width: 200px;
        height: 300px;
        border-style: solid;
        border-width: 1px;
    }
    .right{
        margin-left: 380px;
    }
    .btn{
        margin-top: 220px;
    }
</style>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script language="JavaScript" type="text/javascript">
    $("button.status").onclick(function(){
        event.preventDefault();
            var formData = {
                'status': this.value
            }

        $.ajax({
            url:"addRelationship",
            type:"GET",
            data:formData,
            success: function success (){
                alert('Request send!');},
            error:function error (xhr){
                alert(xhr.responseText);
            }
        });
    });

</script>
</html>